/* Reset default box-sizing */
*, *:before, *:after 
{
    box-sizing: border-box;
}

body
{
    font-family: sans-serif;
    height: 100%;

}

header h1 
{
    text-align: center;
    font-size: 3rem;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.to-do-list 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}